@import url('https://fonts.googleapis.com/css?family=Sen:700|Abril+Fatface|Bungee+Shade|Pacifico|Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

label {
    font-size: 30px;
}

::placeholder {
    font-style: italic;
}

input[type="text"],
input[type="submit"] {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px;
}

.title {
    font-family: "Bungee Shade", Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding: 25px;
}

.selectize-input {
    width: 40vw;
}

.single > .selectize-input  {
    width: 20vw;
}

.single > .selectize-input *  {
    font-size: 15px;
}

option {
    font-size: 60px;
}

.search-box {
    width: 40vw;
    margin: 0 auto;
}

.park-link:link {
    color:rgb(12, 75, 4);
}

.park-link:visited{
    color:rgb(12, 75, 4);
}

.result * {
    text-align: left;
}

.result {
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    width: 60%;
    background-color: rgba(191, 202, 180, 0.5);
    border-radius: 5px;
}

.park-description {
    font-size: 18px;
    line-height: 1.4;
}

.park-phone {
    margin-left: 5vw;
}

.park-email,
.park-phone {
    text-decoration: none;
    font-family: Sen, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.icon {
    margin-right: 5px;
}

.error-message {
    color: red; 
}

.park-state-title {
    font-family: Sen, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.max-results {
    background-color: pink;
}

