@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700|Sen:700|Bungee+Shade|Pacifico|Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 60px;
}

.hidden {
    display: none;
}

/* HEADER */
header {
    margin-top: 20vh;
}


/* SEARCH AREA */
.instructions {
    font-size: 20px;
    margin: 2vh auto 1vh auto;
}

input[type="text"] {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px;
}

.title {
    font-family: "Bungee Shade", Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding: 25px;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    margin: 0vh auto 5vh auto;
}

.error-message {
    color: red; 
}


/* SELECTIZE */
.selectize-input {
    height: 5vh;
    width: 40vw;
}

.selectize-control.multi .selectize-input [data-value]{ 
    background: #146837;
    font-size: 1.4em;
    padding: 3px 30px;
}

.multi {
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.single > .selectize-input  {
    height: 5vh;
    width: 10vw;
    vertical-align: center;
}

.single > .selectize-input *  {
    font-size: 15px;
}


/* RESULTS AREA */
.park-link:link {
    font-family: "Nanum Gothic";
    color:rgb(12, 75, 4);
    font-size: 25px;
}

.park-link:visited{
    color:rgb(12, 75, 4);
}


.park-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
 
.park-image {
    width:  175px;
    height: 175px;
    background-size: contain;
    float: right;
}

.park-description {
    font-size: 18px;
    line-height: 1.4;
    clear: left;
}

.park-phone {
    margin-left: 5vw;
}

.park-email,
.park-phone {
    text-decoration: none;
    font-family: Sen, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.result * {
    text-align: left;
}

.result {
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    width: 100%;
    background-color: rgba(191, 202, 180, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.icon {
    margin-right: 5px;
}

.park-state {
    margin: 0;
}

.park-state-title {
    font-family: Sen, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.max-results {
    background-color: pink;
}

@media only screen and (min-width: 700px) {
    .park-info {
        display: flex;
        flex-direction: row;
    }

    .result {
        width: 60%;
    }
}
